

html, input {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 23px;
}

* {
    margin: 0;
}

#nav_bar {
    background-color: #fff;
    --navheight: 90px;
    height: var(--navheight);
    overflow: hidden;
}

#nav_bar img {
    float: left;
    height: 50px;
    margin: calc((var(--navheight) - 50px)*0.5);
    margin-left: 25px;
}

#nav_bar .astro_title {
    float: left;
    display: block;
    font-size: 23px;
    margin-top: calc((var(--navheight) - 23px)*0.5 - 2px);
}

#nav_bar .lang_select {
    float: right;
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 25px;
    border: 5px solid #fff;
    width: 40px;
    margin: calc((var(--navheight) - 25px)*0.5 - 5px) 0 0 0;
    border-radius: 7px;
    overflow: hidden;
    transition: all 0.1s ease;
}

#nav_bar .lang_select:hover {
    width: 85px;
    background-color: #dedede;
    border-color: #dedede;
    /*comments*/
}

#nav_bar .lang_button {
    height: 25px;
    flex-basis: 40px;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    border-radius: 4px;
    cursor: pointer;
}

#nav_bar .login_button {
    float: right;
    color: white;
    display: block;
    font-size: 23px;
    background-color: #1bbb9e;
    /* margin: calc((var(--navheight) - 51px)*0.5 - 2px) 0px 0 25px; */
    margin-left: 25px;
    /* padding: 12px; */
    /* border: 2px #1abb4b solid; */
    /* border-radius: 7px; */
    /* padding-left: 23px; */
    /* padding-right: 23px; */
    text-align: center;
    transition: background-color 0.25s ease;
    user-select: none;
    cursor: pointer;
    width: 155px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav_bar .login_button:hover {
    background-color: #22927e;
    color: white;
}

#star_back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #03000B;
    background-image: url(../Pictures/space.png);
    background-repeat: repeat;
    background-size: 100%;
    height: 500px;
    background-position-y: calc(var(--scroll)*0.5*1px), 0px;
    text-shadow: 0px 0px 50px rgba(255,255,255,0.5);
    animation: star_start 3s ease forwards;
}

#star_back img{
    width: 160px;
    margin-top: -70px;
}

@keyframes star_start{
    0%{
        text-shadow: 0px 0px 30px rgba(255,255,255,0.15);
    }
    20%{
        text-shadow: 0px 0px 50px rgba(255,255,255,0.4);
    }
    100%{
        text-shadow: 0px 0px 10px rgba(255,255,255,0);
    }
}

#star_back::after {
    content: "";
    position: absolute;
    background-image: url(../Pictures/Gear.svg);
    height: 200px;
    width: 200px;
    left: -71px;
    bottom: -36px;
    transform: rotateZ(calc(var(--scroll)*0.25*1deg));
}

#star_back::before {
    content: "";
    position: absolute;
    background-image: url(../Pictures/Gear.svg);
    height: 200px;
    width: 200px;
    right: -71px;
    bottom: -36px;
    transform: rotateZ(calc(var(--scroll)*0.25*-1deg));
}


#star_back h1 {
    color: #fff;
    font-family: Arial Black, 'Archivo Black';
    text-align: center;
    font-size: 52px;
    line-height: 62px;
}

#star_back p {
    color: #fff;
    text-align: center;
    font-size: 36px;
}

#star_back div {
    background: white;
    height: 2px;
    margin: 0.8em;
    width: 22vw;
    /* animation: start_up 0.5s ease; */
}

/* @keyframes start_up {
    0% {
        width: 100vw;
    }

    100% {
        width: 22vw;
    }
} */

#content:before {
    content: "";
    background-color: #fff;
    height: 2em;
    width: 60vw;
    transform: translateX(calc(50vw - 0.5em)) skew(-45deg);
    position: absolute;
    top: -1.9em;
    left: 0;
}

#content:after {
    content: "";
    background-color: #fff;
    height: 2em;
    width: 60vw;
    transform: translateX(calc(-50vw + 0.5em)) skew(45deg);
    position: absolute;
    top: -1.9em;
    right: 0;
}

#content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px 50px 50px;
    height: auto;
}

html, body {
    overflow-x: hidden;
    flex: auto;
}


#loc_container {
    /* background-color: white; */
    /* box-shadow: #a7a7a7 0px 0px 20px 0px; */
    /* overflow: hidden; */
    width: 100%;
    height: 1500px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#loc_title {
    color: white;
    /* display: flex; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* height: 300px; */
    /* width: 100%; */
    background-color: #ef7033;
    position: relative;
    height: 44px;
    text-align: center;
    width: 60vw;
    max-width: 450px;
    line-height: 43px;
    border-radius: 40px;
    border: 4px solid white;
    margin-bottom: 130px;
}
#loc_title::before{
    content: '';
    position: absolute;
    background: #ef703382;
    width: 90vw;
    max-width: 1200px;
    height: 2px;
    top: 21px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

#loc_title p {
    /* background-color: gray; */
    /* height: 43px; */
    /* text-align: center; */
    /* width: 60vw; */
    /* max-width: 450px; */
    /* line-height: 43px; */
    /* border-radius: 40px; */
    /*space*/
}

#loc_form {
    background-color: #fff;
    border-radius: 0px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}
@keyframes result_start {
    0%{
        height: 0px;
        padding: 0px 50px 0px 50px;
    }
    100%{
        height: var(--result_height);
        padding: 50px;
    }
}
#loc_result{
    --result_height: 500px;
    color: white;
    width: 60vw;
    max-width: 900px;
    height: var(--result_height);
    background: url(../Pictures/space.png);
    background-size: 300%;
    box-shadow: 0px 0px 30px inset rgb(0, 0, 0), 0px 0px 72px inset rgb(0, 0, 0);
    display: none;
    /* grid-column-gap: 28px; */
    padding: 50px;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    animation: result_start 0.5s ease forwards;
}

#loc_result div{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}
#loc_result div p{
    /* text-align: center; */
    /* box-shadow: 0px 0px 15px inset rgba(142, 122, 255, 0.2); */
    padding: 18px;
}

#loc_result .result_col1{
    background-color: rgba(255, 255, 255, 0.05);
    text-align: right;
    font-style: initial;
}

#loc_result .result_col2{
    background-color: white;
    color: black;
    text-align: center;
    font-weight: bold;
}

/*
#loc_result *:nth-child(2n){
    background-color: darkgreen;
}
#loc_result *:nth-child(3n){
    background-color: lightgreen;
} */

.capital {
    font-family: inherit;
    font-size: 120%;
}

form {
    display: table;
    color: grey;
}

.in_row {
    display: table-row;
}

input[type= "text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 2px gray;
    color: black;
    outline: none;
    width: 60vw;
    max-width: 450px;
    transition: border-color 0.25s ease;
}

/*--------location label anim--------*/
label[for="location"] {
    transform: translateY(-33px);
    user-select: none;
    color: gray;
    transition: all 0.1s ease;
}

input[id="location"]:focus + label[for="location"], input[id="location"]:not(:placeholder-shown) + label[for="location"] {
    transform: translateY(-65px);
}

input[id="location"]:focus, input[id="location"]:not(:placeholder-shown) {
    border-color: black;
}

/*--------Time label anim--------*/
label[for="time"] {
    transform: translateY(-33px);
    user-select: none;
    color: gray;
    transition: all 0.1s ease;
}

input[id="time"] {
    margin-top: 20px;
}

input[id="time"]:focus + label[for="time"], input[id="time"]:not(:placeholder-shown) + label[for="time"] {
    transform: translateY(-65px);
}

input[id="time"]:focus, input[id="time"]:not(:placeholder-shown) {
    border-color: black;
}

/*@media (max-width: 720px) {
    #nav_bar {
        --navheight: 70px;
    }
}*/

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    background: #dedede;
}

#footer a {
    text-align: center;
    position: relative;
    font-size: 70%;
    font-weight: bold;
    font-style: italic;
    color: grey;
    text-decoration: none;
}
/*#footer a:before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 50px;
            height: 50px;
            background-color: red;
        }*/